.cart-item-flex, .total-item-flex {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
  }

.cart-item-flex img {
    width: 150px;
  }

.cart-content {
  margin-right: 10px;
  width: 50%;
}

#checkout {
  padding-top: 20px;
  text-align: right;
  margin-right: 40px;
  margin-bottom: 40px;

}

#checkout button {
  width: 150px;
  padding: 16px;
  font-size: 18px;
}

p.remove {
  cursor: pointer;
}