
body{
  font: 16px Arial, sans-serif;
}

.logo {
    width: 10%;
    height: auto;
}

.divider {
    height: 2px;
    background: black;
    margin: 10px;
}

.product-gallery {
    margin: auto;
    width: 40%;
}

.product-gallery:hover {
    background: yellow;
}

.product-img {
    border: 3px solid black;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.product-details {
  margin-left: 20%;
}

#product-dropdown {
  min-width: 50%;
}

p {
    color: black;
    text-align: left;
    font-size: 14px;
}

.product-page {
  margin-left: 20%;
  width: 60%;
}

sub {
  text-align: center;
  margin-left: 35%
}

select {
    margin-left: 20%;
}

#shopping-product-details {
  text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h3 {
    text-align: center;
}

h4 {
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
}

nav {
    text-align: center;
}

.product-detail-p {
    width: 60%;
    margin-left: 20%;

}


.add-cart {
  text-align: center;
}

.add-cart-child {
  display: inline-block;
  padding: 12px;
}

.align-center{
  text-align: center
}

  /* BUTTONS */
  .btn {
    border: 2px solid black;
    background-color: yellow;
    padding: 8px 8px;
    display: inline-block;
  }

  .btn:hover {
    cursor: pointer;
  }

  /* LINKS */

.navtitle:hover {
  background: yellow;
}

.navtitle:active {
  background: yellow;
}

a {
  color: black;
}

a:link {
    color: black;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
  }

  
  a:active {
    font-weight: bold;
  }