.mainContainer {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
}

body {
    background-image: url("websiteBg.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    position: absolute;
    width: 794px;
    height: 349px;
    left: 119px;
    top: 150px;
    
    font-family: 'VCR OSD Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 115.2px;
    line-height: 113px;
    
    color: #FCFF71;
}

h3 {
    position: absolute;
    width: 700px;
    height: 165px;
    left: 78px;
    top: 90px;

    font-family: 'VCR OSD Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 47px;
    text-transform: uppercase;

    color: #FFFFFF;
}

p {
    color: white;
    font-size: 24px;
    
}

/* Containers yellow folder */
.folders {
    flex:auto;
    padding: 20px;

    float: right;
}


